.footer-container {
  background-color: #f8f9fa;
  padding: 20px;
}

.footer-section {
  margin: 25px 100px; /* left and right margins */
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.column {
  flex: 1 1 22%;
  margin: 10px;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-links div {
  margin-bottom: 5px;
}

.footer-links a {
  text-decoration: none;
  color: #007bff;
}

.footer-links a:hover {
  text-decoration: underline;
}

.app-holder {
  display: flex;
  justify-content: space-between;
}

.app-column {
  width: 48%;
}

.app-column img {
  width: 100%;
}

.ventures img {
  width: 100px;
  margin: 10px 0;
}
 /* for small screen */
 
@media (max-width: 768px) {
  .column {
    flex: 1 1 100%;
  }

  .app-column {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 720px) {
  .footer-section {
    margin: 25px 50px; /* Further reduce left and right margins */
  }

  .row {
    justify-content: space-around; /* Adjust spacing to better fit content */
  }

  .column {
    flex: 1 1 100%;
    margin: 5px; /* Reduced margin for columns */
  }

  .app-column {
    width: 100%;
  }
}

.display {
  display: flex;
  align-items: center; /* Vertically align the items */
  justify-content: space-between; /* Distribute space between items */
}

.display div {
  margin-right: 20px; /* Add margin between the images */
}

.display div:last-child {
  margin-right: 0; /* Remove the margin for the last item */
}

.display img {
  vertical-align: middle; /* Vertically align the images */
}

